:root {
  --text-color-one: #61dafb;
  --background-color-one: #282c34;
  --button-width: 400px;
}
.center {
  justify-content: center;
  align-items: center;
}

.app-box {
  background-color: var(--background-color-one);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: start;
  font-size: calc(10px + 2vmin);
}

.menu-box {
  display: flex;
  flex-direction: column;
  width: calc(var(--button-width) + 50px);
}

.main-box {
  display: flex;
  flex-direction: column;
  width: calc(var(--button-width) * 2);
}

.head-text {
  font-size: 36px;
  color: var(--text-color-one);
  text-align: center;
}

.text {
  font-size: 26px;
  color: var(--text-color-one);
  text-align: center;
}

.button {
  width: var(--button-width);
  background-color: var(--background-color-one);
  border-color: var(--text-color-one);
  margin: 2px;
}

.button:hover {
  background-color: var(--text-color-one);
  color: #282c34;
}

.list {
  display: flex;
  flex-direction: column;
}

.margin {
  margin: 50px;
}
